<div class="container-fluid container-project">
  <div class="card card-show-info">
    <div class="card-header">
      Task: <%= @task.id %>
    </div>
    <div class="card-body">
      <div class="card-text">
        <span class="show-action-label">Description: </span><%= @task.description %>
      </div>
      <div class="card-text">
        <span class="show-action-label">Done: </span><%= human_boolean(@task.done) %>
      </div>
    </div>
    <div class="card-body">
      <%= link_to "Back", [@history.project, @history] , class: 'btn btn-secondary' %>
      <%= link_to "Edit Task", [:edit, @history.project, @history, @task] , class: 'btn btn-primary' %>
    </div>
  </div>
</div>
