<nav class="navbar navbar-dark navbar-expand-lg">
  <%= link_to image_tag('logo.ico'), root_path, class: 'navbar-brand logo' %>
  <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon bg-dark"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to 'Projects', projects_path, class: 'nav-link' %>
        </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_person %>
          <li>
            <%= link_to person_path(current_person) do %>
              <i class="fa fa-user"></i>
              <span><%= current_person.name %></span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_person_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>
              <span>Logout</span>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_person_registration_path do %>
              <i class="fa fa-sign-up"></i>
              <span>Sign Up</span>
            <% end %>
          </li>
          <li>
            <%= link_to new_person_session_path do %>
              <i class="fa fa-sign-in"></i>
              <span>Login</span>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</nav>
