<%= form_for @project, html: { role: "form-signin" } do |f| %>
  <%= render "/shared/errors", resource: @project %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class:'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit(class: 'btn btn-primary') %>
    <%= link_to "Cancel", projects_path , class: 'btn btn-danger' %>
  </div>
<% end %>
