<!DOCTYPE html>
<html>
  <head>
    <title>TaskBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('logo.ico') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container main">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
